<div class="about-us">
    <div class="about-landing">
        <h1 class="header">Designed to make <br /> brands shine</h1>
        <p class="content">We are Bits and Bytes: a values-driven digital agency based in Irvine that helps brands
            unleash their star power and transform tomorrow's world. We are change makers, innovators, and strategic
            leaders. We believe anything is possible through teamwork and inspire growth without limits.</p>
    </div>
    <span class="line"></span>
    <div class="our-values">
        <div class="header">Our Values</div>
        <div class="values">
            <div class="value1" {{ action 'valuesChanges' 1 }}>
                <div class="cross">
                    <span class="line1"></span>
                    <span class="line2"></span>
                </div>
                <h2>Transparency</h2>
                <p>We don't shy away from making recommendations and identifying opportunities that our clients may not
                    have discovered yet. It's our job to cover their blind spots and deliver solutions that help them
                    overcome their brand's biggest challenges.</p>
            </div>
            <div class="value2" {{ action 'valuesChanges' 2 }}>
                <div class="cross">
                    <span class="line1"></span>
                    <span class="line2"></span>
                </div>
                <h2>Passion</h2>
                <p>We love what we do: thinking deeply and critically about ways to champion our clients' businesses.
                </p>
            </div>
            <div class="value3" {{ action 'valuesChanges' 3 }}>
                <div class="cross">
                    <span class="line1"></span>
                    <span class="line2"></span>
                </div>
                <h2>Empathy</h2>
                <p>We commit to adding value to our clients' brands by providing partnership and guidance that helps
                    realize their business potential.</p>
            </div>
            <div class="value4" {{ action 'valuesChanges' 4 }}>
                <div class="cross">
                    <span class="line1"></span>
                    <span class="line2"></span>
                </div>
                <h2>Innovation</h2>
                <p>We do things differently than most folks. But rather than resting on our laurels and proven process,
                    we're continually pushing the envelope by embracing new and innovative ways of delivering results
                    that stand the test of time.</p>
            </div>
        </div>
        <img src="/assets/aboutus.png" alt="">
    </div>
    <span class="line"></span>
    <div class="our-team">
        <h1 class="header">Our Founders</h1>
        <div class="team-grid">
            <div class="team1" style="margin-left: 0;">
                <img src="/assets/aryav.jpeg" alt="">
                <h2>Aryav</h2>
                <p>Chief Technology Officer</p>
            </div>
            <div class="team2">
                <img src="/assets/atharv2.jpeg" alt="">
                <h2>Atharv</h2>
                <p>Chief Executive Officer</p>
            </div>
            <div class="team3">
                <img src="/assets/sahaj2.jpeg" alt="">
                <h2>Sahaj</h2>
                <p>Co-Chief Executive Officer</p>
            </div>
        </div>
    </div>
    <span class="line"></span>
</div>