<div class="careers">
    <h1>Join us in working extraordinarily</h1>
    <p>More than just a design company, we are a collective of innovators, creators, and changemakers who disrupt, dare,
        and dream big. Average is far from our DNA—we succeed together and strive to go beyond the ordinary. Because at
        Bits and Bytes, we never settle.</p>
    <a href="mailto:bitsandbytesworkk@gmail.com">Mail Us</a>
    <div class="images">
        <img src="/assets/career2.jpg" alt="">
        <img src="/assets/career1.jpg" alt="">
        <img src="/assets/career3.jpg" alt="">
    </div>
</div>