<div class="contact-section">
    <div class="content">
        <h1>Let's work together</h1>
        <p>We'd love to hear about what you're looking for.
            Give us a few details below and our team will be in touch shortly.</p>
        <p>If you'd prefer email, reach out to <a
                href="mailto:bitsandbytesworkk@gmail.com">bitsandbytesworkk@gmail.com</a></p>
    </div>
    <span class="line"></span>
    <form name="reachout" method="POST"
        action="https://script.google.com/macros/s/AKfycbzu6DD2xfkYo7stvxUPjdCjtIpwtIAUOZnxuxVhjLjwk5QjtpBC8O_902DpQZYu_I-Q/exec"
        autocomplete="off">
        <h2>What's your name? <span class="star">*</span></h2>
        <div class="inputBox">
            <input type="text" name="name" required>
            <span>Your Name</span>
        </div>

        <h2>How about your email address? <span class="star">*</span></h2>
        <div class="inputBox">
            <input type="email"
                onkeyup="if(this.value){this.setAttribute('value', this.value);} else{this.removeAttribute('value')}"
                name="email" required>
            <span>Your email address</span>
        </div>

        <h2>What's your company name? <span class="star">*</span></h2>
        <div class="inputBox">
            <input type="text" name="companyName" required>
            <span>Your company name</span>
        </div>

        <h2>Any other info you'd like to add?</h2>
        <div class="inputBox">
            <textarea name="additionalInfo" placeholder="Your message goes here" cols="0" rows="3"></textarea>
        </div>

        <input type="submit" name="submitBtn" value="Reach out">
    </form>
</div>