<div class="footer">
    <div class="content">
        <img src="/assets/b&b.png" alt="">
        <h1>Transformative experiences by design.</h1>
        <h2>Let's work together.</h2>
        <div class="contact-info">
            <p><a href="mailto:bitsandbytesworkk@gmail.com">bitsandbytesworkk@gmail.com</a></p>
            <p><a href="tel:+919312089752">+91 93120 89752</a></p>
        </div>
    </div>
    <span></span>
    <div class="copyright">
        <p>© 2024 Bits and Bytes Inc. All rights reserved.</p>
    </div>
</div>