<div class="landing">
    <div class="content1">
        <h1>We create impactful apps, branding, and websites</h1>
        <p>We are an award-winning agency that launches companies of all sizes into the next era of growth.</p>
    </div>
    <div class="video">
        <video src="/assets/web-agency.mp4" oncanplay="this.muted = true; this.play();" type="video/mp4" loop autoplay
            muted></video>
    </div>
</div>