<nav>
    <div class="logo">
        <LinkTo @route="index"><img src="assets/b&b.png" alt=""></LinkTo>
    </div>
    <div class="tray-icon">
        <div class="line1"></div>
        <div class="line2"></div>
    </div>
    <div class="links">
        <ul>
            <LinkTo @route='services'>
                <li>
                    Services
                </li>
            </LinkTo>
            {{!-- <LinkTo @route='pricing'>
                <li>
                    Pricing
                </li>
            </LinkTo> --}}
            <LinkTo @route='about'>
                <li>
                    About
                </li>
            </LinkTo>
            <LinkTo @route='careers'>
                <li>
                    Careers
                </li>
            </LinkTo>
        </ul>
        <div class="get-in-touch">
            <LinkTo @route="contact-us" class="btn">Get in touch</LinkTo>
        </div>
    </div>
    <div class="get-in-touch">
        <LinkTo @route="contact-us" class="btn">Get in touch</LinkTo>
    </div>
</nav>