<div class="services-page">
    <h1>Elevate experiences <br /> and activate growth</h1>
    <p class="faded">What we do</p>
    <p>From bold new ideas to innovative platforms and branding solutions, we've got you covered. Our team works closely
        with you to strategize the next move and build custom solutions that unlock your full potential.</p>
    <img src="/assets/webpages.jpg" alt="">
    <div class="slider first">
        <h2>Branding<br /> and Strategy</h2>
        <div class="list">
            <ul>
                <li>Brand Strategy</li>
                <li>Brand Audit</li>
                <li>Naming</li>
            </ul>
            <ul>
                <li>Logo Design</li>
                <li>Visual Identity</li>
                <li>Graphic and Illustration</li>
            </ul>
        </div>
    </div>
    <div class="slider second">
        <h2>Website and<br />App Design</h2>
        <div class="list">
            <ul>
                <li>Website Design</li>
                <li>UI/UX Audit</li>
                <li>UX Audit</li>
            </ul>
            <ul>
                <li>Mobile App Design</li>
                <li>Animation</li>
                <li>Design Systems</li>
            </ul>
        </div>
    </div>
    <div class="slider third">
        <h2>Website<br /> Development</h2>
        <div class="list">
            <ul>
                <li>WordPress Development</li>
                <li>Webflow Development</li>
                <li>Shopify Development</li>
            </ul>
            <ul>
                <li>Custom Web Development</li>
                <li>Conversion Rate Optimization</li>
                <li>SEO Strategy</li>
            </ul>
        </div>
    </div>
    <span class="line"></span>
    <div class="approach">
        <div class="header">Our Approach</div>
        <div class="content">Each project starts with you. We personalize our process around your brand's unique story
            and goals, generating strategic insights and data-backed next steps to maximize your untapped star power.
        </div>
        <span class="line2"></span>
        <div class="cards">
            <div class="card1">
                <div class="dot"></div>
                <h2>Blueprint</h2>
                <h3>We dive deep into your brand, conducting research and analysis to develop tailored blueprints that
                    set you up for increased recognition and long-term growth within today's market.</h3>
            </div>
            <div class="card2">
                <div class="dot"></div>
                <h2>Foundation</h2>
                <h3>Our team brings your brand to life through intuitive websites and engaging mobile apps, combining
                    the latest in tech innovation with award-winning web design to captivate and keep loyal audiences.
                </h3>
            </div>
            <div class="card3">
                <div class="dot"></div>
                <h2>Expansion</h2>
                <h3>We inspire deeper connection and help you realize lasting measurable results through cross-channel
                    marketing efforts that deliver the right message at the right time.</h3>
            </div>
        </div>
    </div>
    <span class="line"></span>
    <div class="promise">
        <div class="header">Our promise</div>
        <div class="cards">
            <div class="card1">
                <h2>Expert Guidance</h2>
                <h3>Get valuable insights and personalized recommendations every step of the way from design and
                    branding professionals with years of experience.</h3>
            </div>
            <div class="card2">
                <h2>Strategies</h2>
                <h3>Implement comprehensive strategies to stay ahead of the curve, leveraging our forward-thinking
                    insights to anticipate market trends and gain long-term benefits.</h3>
            </div>
            <div class="card3">
                <h2>Efficiency</h2>
                <h3>Expect clear communication and seamless execution from kickoff to completion, guaranteeing project
                    delivery right on the dot without compromised quality.
                </h3>
            </div>
            <div class="card4">
                <h2>Partnership</h2>
                <h3>Enjoy true collaboration. We work closely with you, using your input and industry knowledge as a
                    springboard to achieve shared goals and exceed expectations.
                </h3>
            </div>
        </div>
    </div>
</div>