<div class="testimonials">
    <h1>Forming lasting partnerships</h1>
    <div class="slider">
        <div class="testimonial">
            <p class="review"></p>
            <div class="line"></div>
            <div class="company">
                <div class="content">
                    <h2></h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="controls">
            <div class="back" {{ action 'back' }}>
                <img src="/assets/chevron-left.png" alt="">
            </div>
            <div class="next" {{ action 'next' }}>
                <img src="/assets/chevron-right.png" alt="">
            </div>
        </div>
    </div>
</div>