<div class="recent-works">
    <h1>Recent Works</h1>
    <div class="work">
        <h2>Fab n Fit</h2>
        <a href="https://fitness-web-project.netlify.app/"><img src="/assets/Fab n Fit.png"></a>
    </div>
    <div class="work">
        <h2>MG Organics</h2>
        <a href="https://mgorganics.com/"><img src="/assets/MG Organics.png"></a>
    </div>
</div>